body
{
	font-family: 'Spirax', cursive;
}

img
{
	max-width: 100%;
}
.quitar-float
{
	float: none;
}
.espacio-arriba
{
	margin-top: 100px;
}
.pacifico
{
    font-family: 'Macondo', cursive; 
}
.grande
{
	font-size: 4em;
}
.espacio-derecha
{
	margin-right: 1em;
}
.morado
{
	color: #A232AC;
}
a,.azul
{
	color: #3832AC;
}
.no-lista li
{
	list-style-type: none;
}
.no-lista
{
	margin: 0px;
	padding: 0px;
}
.se-gris
{
	background-color: #eee;
}
.padding-largo
{
	padding: 5px 10px;
}
.inline-block
{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.vete-arriba
{
	vertical-align: top;
}
.mediano
{
	font-size: 1.5em;
}
.retraso-1
{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-2
{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}